/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  margin: 0;
  padding: 0;
}

body { 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.mat-mdc-card {
  margin-bottom: 20px;
}
